In [1]:
#IST769 Midterm
#-----------------

# You will turn this file in along with screenshots as instructed on Blackboard

# YOUR NAME: Hendi Kushta
# YOUR EMAIL: hkushta@syr.edu
# YOUR SUID: 7522109662

In [1]:
import pyspark
from pyspark.sql import SparkSession

user = "minio"
passwd = "SU2orange!"
s3_bucket = "gamestreams"
s3_server = "http://minio:9000"
s3_access_key = user
s3_secret_key = passwd
mongo_user = "mongo"
mongo_uri = f"mongodb://{mongo_user}:{passwd}@mongo:27017/admin?authSource=admin"
server_name = "jdbc:sqlserver://mssql"
database_name = "sidearmdb"
mssql_user = "sa"
mssql_pw = passwd
mssql_url = server_name + ";" + "databaseName=" + database_name + ";encrypt=true;trustServerCertificate=true;"

jars = [
    "org.apache.hadoop:hadoop-aws:3.1.2",
    "org.mongodb.spark:mongo-spark-connector_2.12:3.0.1",
    "com.microsoft.azure:spark-mssql-connector_2.12:1.2.0",
    "com.microsoft.sqlserver:mssql-jdbc:12.2.0.jre11"
]

spark = SparkSession.builder \
    .master("local") \
    .appName('jupyter-pyspark') \
        .config("spark.jars.packages",",".join(jars) )\
        .config("spark.hadoop.fs.s3a.endpoint", s3_server ) \
        .config("spark.hadoop.fs.s3a.access.key", s3_access_key) \
        .config("spark.hadoop.fs.s3a.secret.key", s3_secret_key) \
        .config("spark.hadoop.fs.s3a.fast.upload", True) \
        .config("spark.hadoop.fs.s3a.path.style.access", True) \
        .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem") \
        .config("spark.mongodb.input.uri", mongo_uri) \
        .config("spark.mongodb.output.uri", mongo_uri) \
    .getOrCreate()
sc = spark.sparkContext
sc.setLogLevel("ERROR") # Keeps the noise down!!!

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark-3.1.2-bin-hadoop3.2/jars/spark-unsafe_2.12-3.1.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release

:: loading settings :: url = jar:file:/usr/local/spark-3.1.2-bin-hadoop3.2/jars/ivy-2.4.0.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/jovyan/.ivy2/cache
The jars for the packages stored in: /home/jovyan/.ivy2/jars
org.apache.hadoop#hadoop-aws added as a dependency
org.mongodb.spark#mongo-spark-connector_2.12 added as a dependency
com.microsoft.azure#spark-mssql-connector_2.12 added as a dependency
com.microsoft.sqlserver#mssql-jdbc added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-d409417d-8ba1-46fe-8f4d-963dc3b79732;1.0
	confs: [default]
	found org.apache.hadoop#hadoop-aws;3.1.2 in central
	found com.amazonaws#aws-java-sdk-bundle;1.11.271 in central
	found org.mongodb.spark#mongo-spark-connector_2.12;3.0.1 in central
	found org.mongodb#mongodb-driver-sync;4.0.5 in central
	found org.mongodb#bson;4.0.5 in central
	found org.mongodb#mongodb-driver-core;4.0.5 in central
	found com.microsoft.azure#spark-mssql-connector_2.12;1.2.0 in central
	found com.microsoft.sqlserver#mssql-jdbc;12.2.0.jre11 in central
downloading https://repo1.maven.org/maven2/org/apache/hadoop/hadoop-aws/3.1.2/hadoop-aws-3.1.2.jar ...
	[SUCCESSFUL ] org.apache.hadoop#hadoop-aws;3.1.2!hadoop-aws.jar (49ms)
downloading https://repo1.maven.org/maven2/org/mongodb/spark/mongo-spark-connector_2.12/3.0.1/mongo-spark-connector_2.12-3.0.1.jar ...
	[SUCCESSFUL ] org.mongodb.spark#mongo-spark-connector_2.12;3.0.1!mongo-spark-connector_2.12.jar (31ms)
downloading https://repo1.maven.org/maven2/com/microsoft/azure/spark-mssql-connector_2.12/1.2.0/spark-mssql-connector_2.12-1.2.0.jar ...
	[SUCCESSFUL ] com.microsoft.azure#spark-mssql-connector_2.12;1.2.0!spark-mssql-connector_2.12.jar (20ms)
downloading https://repo1.maven.org/maven2/com/microsoft/sqlserver/mssql-jdbc/12.2.0.jre11/mssql-jdbc-12.2.0.jre11.jar ...
	[SUCCESSFUL ] com.microsoft.sqlserver#mssql-jdbc;12.2.0.jre11!mssql-jdbc.jar (68ms)
downloading https://repo1.maven.org/maven2/com/amazonaws/aws-java-sdk-bundle/1.11.271/aws-java-sdk-bundle-1.11.271.jar ...
	[SUCCESSFUL ] com.amazonaws#aws-java-sdk-bundle;1.11.271!aws-java-sdk-bundle.jar (1961ms)
downloading https://repo1.maven.org/maven2/org/mongodb/mongodb-driver-sync/4.0.5/mongodb-driver-sync-4.0.5.jar ...
	[SUCCESSFUL ] org.mongodb#mongodb-driver-sync;4.0.5!mongodb-driver-sync.jar (18ms)
downloading https://repo1.maven.org/maven2/org/mongodb/bson/4.0.5/bson-4.0.5.jar ...
	[SUCCESSFUL ] org.mongodb#bson;4.0.5!bson.jar (25ms)
downloading https://repo1.maven.org/maven2/org/mongodb/mongodb-driver-core/4.0.5/mongodb-driver-core-4.0.5.jar ...
	[SUCCESSFUL ] org.mongodb#mongodb-driver-core;4.0.5!mongodb-driver-core.jar (46ms)
:: resolution report :: resolve 3977ms :: artifacts dl 2225ms
	:: modules in use:
	com.amazonaws#aws-java-sdk-bundle;1.11.271 from central in [default]
	com.microsoft.azure#spark-mssql-connector_2.12;1.2.0 from central in [default]
	com.microsoft.sqlserver#mssql-jdbc;12.2.0.jre11 from central in [default]
	org.apache.hadoop#hadoop-aws;3.1.2 from central in [default]
	org.mongodb#bson;4.0.5 from central in [default]
	org.mongodb#mongodb-driver-core;4.0.5 from central in [default]
	org.mongodb#mongodb-driver-sync;4.0.5 from central in [default]
	org.mongodb.spark#mongo-spark-connector_2.12;3.0.1 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   8   |   8   |   8   |   0   ||   8   |   8   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-d409417d-8ba1-46fe-8f4d-963dc3b79732
	confs: [default]
	8 artifacts copied, 0 already retrieved (88869kB/126ms)
24/03/08 06:35:10 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [2]:
# HOW TO READ FROM MSSQL
df = spark.read.format("com.microsoft.sqlserver.jdbc.spark") \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .option("url", mssql_url) \
    .option("dbtable", "players") \
    .option("user", mssql_user) \
    .option("password", mssql_pw) \
    .load()

df.show()

+---+------+------+-----+-----+------+
| id|  name|number|shots|goals|teamid|
+---+------+------+-----+-----+------+
|  1|   sam|     6|   56|   23|   101|
|  2| sarah|     1|   85|   34|   101|
|  3| steve|     2|   60|   20|   101|
|  4| stone|    13|   33|   10|   101|
|  5|  sean|    17|   26|    9|   101|
|  6|   sly|     8|   78|   15|   101|
|  7|   sol|     9|   52|   20|   101|
|  8| shree|     4|   20|    4|   101|
|  9|shelly|    15|   10|    2|   101|
| 10| swede|    10|   90|   50|   101|
| 11| jimmy|     1|  100|   50|   205|
| 12| julie|     9|   10|    0|   205|
| 13| james|     2|   45|   15|   205|
| 14|  jane|    15|   82|   46|   205|
| 15| jimmy|    16|   42|   30|   205|
| 16| julie|     8|   67|   32|   205|
| 17| james|    17|   40|   14|   205|
| 18|  jane|     3|   91|   40|   205|
| 19| jimmy|     5|   78|   22|   205|
| 20| julie|    22|   83|   19|   205|
+---+------+------+-----+-----+------+

In [3]:
# HOW TO WRITE TO MSSQL
df.write.format("com.microsoft.sqlserver.jdbc.spark") \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .mode("overwrite") \
    .option("url", mssql_url) \
    .option("dbtable", "players2") \
    .option("user", mssql_user) \
    .option("password", mssql_pw) \
    .save()

In [4]:
# TODO: Read the gamestream.txt from minio

from pyspark.sql.functions import split

gamestream = spark.read \
    .option("header", True) \
    .option("inferSchema", True) \
    .text("s3a://gamestreams/gamestream.txt") \
    .withColumn('value_split', split('value', ' ')) \
    .selectExpr("value_split[0] as id",
                "value_split[1] as event_time",
                "value_split[2] as team_id",
                "value_split[3] as player_jersey_number",
                "value_split[4] as scored_or_not")


gamestream.show(5)

+---+----------+-------+--------------------+-------------+
| id|event_time|team_id|player_jersey_number|scored_or_not|
+---+----------+-------+--------------------+-------------+
|  0|     59:51|    101|                   2|            0|
|  1|     57:06|    101|                   6|            0|
|  2|     56:13|    205|                   8|            1|
|  3|     55:25|    101|                   4|            0|
|  4|     55:03|    101|                   1|            1|
+---+----------+-------+--------------------+-------------+
only showing top 5 rows

In [5]:
#TODO: Write the gamestream to mongodb

gamestream.write \
    .format("mongo") \
    .mode("overwrite") \
    .option("database", "gamestreams") \
    .option("collection", "gamestream") \
    .save()

In [6]:
# ANSWERS TO EXAM QUESTIONS
# PLACE YOUR ANSWERS BELOW TURN THIS .ipynb FILE IN ALONG WITH SCREENSHOTS AS INSTRUCTED ON BLACKBOARD

## Question 1

# Q1
SELECT
    t.name AS team_name,
    t.wins AS team_wins,
    t.losses AS team_losses,
    p.name AS player_name,
    p.shots AS player_shots,
    p.goals AS player_goals
FROM
    teams t
JOIN
    players p ON t.id = p.teamid;

## Question 2

# Q2
SELECT
  CAST(columns[0] AS INT) AS event_id,
  columns[1] AS event_timestamp,
  CAST(columns[2] AS INT) AS team_id,
  CAST(columns[3] AS INT) AS player_jersey_number,
  CAST(columns[4] AS INT) AS shot_result
FROM
  minio.`gamestream.txt`;

## Question 3

In [7]:
# Q3
from pyspark.sql.functions import split

gamestream = spark.read \
    .option("header", True) \
    .option("inferSchema", True) \
    .text("s3a://gamestreams/gamestream.txt") \
    .withColumn('columns', split('value', ' ')) \
    .selectExpr("columns[0] as event_id",
                "columns[1] as event_timestamp",
                "columns[2] as team_id",
                "columns[3] as player_jersey_number",
                "columns[4] as shot_result")

gamestream.show(5)

+--------+---------------+-------+--------------------+-----------+
|event_id|event_timestamp|team_id|player_jersey_number|shot_result|
+--------+---------------+-------+--------------------+-----------+
|       0|          59:51|    101|                   2|          0|
|       1|          57:06|    101|                   6|          0|
|       2|          56:13|    205|                   8|          1|
|       3|          55:25|    101|                   4|          0|
|       4|          55:03|    101|                   1|          1|
+--------+---------------+-------+--------------------+-----------+
only showing top 5 rows

## Question 4

In [8]:
# Q4
from pyspark.sql.functions import countDistinct, sum, when

from pyspark.sql.functions import split

df_gamestream = spark.read \
    .option("header", True) \
    .option("inferSchema", True) \
    .text("s3a://gamestreams/gamestream.txt") \
    .withColumn('columns', split('value', ' ')) \
    .selectExpr("columns[0] as event_id",
                "columns[1] as event_timestamp",
                "columns[2] as team_id",
                "columns[3] as player_jersey_number",
                "columns[4] as shot_result")

# Drop records where team_id = 0
df_gamestream = df_gamestream.filter(df_gamestream["team_id"] != 0)

# Group by team_id and calculate total goals for the team
team_stats = df_gamestream.groupBy("team_id") \
    .agg(
        sum("shot_result").alias("total_team_goals")
    )

# Group by team_id and player_jersey_number and calculate total shots for each player
player_stats = df_gamestream.groupBy("team_id", "player_jersey_number") \
    .agg(
        countDistinct("event_id").alias("total_shots"),
        sum(when(df_gamestream["shot_result"] == 1, 1).otherwise(0)).alias("total_goals")
    )

# Joining both dataframes on team_id
final_df = player_stats.join(team_stats, "team_id", "inner")

# Order by team_id and player_id
final_df = final_df.orderBy("team_id")

# Show the final dataframe
final_df.show()

+-------+--------------------+-----------+-----------+----------------+
|team_id|player_jersey_number|total_shots|total_goals|total_team_goals|
+-------+--------------------+-----------+-----------+----------------+
|    101|                   8|          4|          0|            14.0|
|    101|                   1|          8|          6|            14.0|
|    101|                  15|          3|          1|            14.0|
|    101|                   2|          7|          2|            14.0|
|    101|                   6|          4|          2|            14.0|
|    101|                   4|          5|          1|            14.0|
|    101|                   9|          5|          0|            14.0|
|    101|                  10|          3|          1|            14.0|
|    101|                  17|          2|          0|            14.0|
|    101|                  13|          7|          1|            14.0|
|    205|                   2|          3|          1|             9.0|
|    205|                  17|          3|          1|             9.0|
|    205|                  15|          2|          2|             9.0|
|    205|                   9|          4|          0|             9.0|
|    205|                   1|          3|          3|             9.0|
|    205|                  22|          1|          0|             9.0|
|    205|                   8|          2|          1|             9.0|
|    205|                  16|          1|          0|             9.0|
|    205|                   5|          2|          1|             9.0|
|    205|                   3|          1|          0|             9.0|
+-------+--------------------+-----------+-----------+----------------+

## Question 5

In [9]:
# Q5

from pyspark.sql.functions import countDistinct, sum, when, split, lit, col

gamestream = spark.read \
    .option("header", True) \
    .option("inferSchema", True) \
    .text("s3a://gamestreams/gamestream.txt") \
    .withColumn('columns', split('value', ' ')) \
    .selectExpr("columns[0] as event_id",
                "columns[1] as event_timestamp",
                "columns[2] as team_id",
                "columns[3] as player_jersey_number",
                "columns[4] as shot_result")

# Cast event_id column to integers
gamestream = gamestream.withColumn("event_id", col("event_id").cast("int"))

# Calculate the maximum event_id and corresponding event_timestamp
max_event_id_info = gamestream.orderBy(col("event_id").desc()).select("event_id", "event_timestamp").limit(1)

# Aggregations
output = gamestream \
    .groupBy("team_id", "player_jersey_number") \
    .agg(
        countDistinct("event_id").alias("total_shots"),
        sum(when(gamestream["shot_result"] == 1, 1).otherwise(0)).alias("total_goals")
    )

# Calculate total team goals
team_stats = gamestream.groupBy("team_id") \
    .agg(
        sum(when(gamestream["shot_result"] == 1, 1).otherwise(0)).alias("total_team_goals")
    )

# Join with max_event_id_info to add event_id and timestamp columns
output = output.join(team_stats, "team_id", "inner").crossJoin(max_event_id_info)

# Rearrange columns and rename them
output = output.select("event_id", "event_timestamp", "team_id", "player_jersey_number",
                       "total_shots", "total_goals", "total_team_goals")

# Drop records where team_id = 0
output = output.filter(output["team_id"] != 0)

# Order by team_id
output = output.orderBy("team_id")

# Show the result
output.show()

+--------+---------------+-------+--------------------+-----------+-----------+----------------+
|event_id|event_timestamp|team_id|player_jersey_number|total_shots|total_goals|total_team_goals|
+--------+---------------+-------+--------------------+-----------+-----------+----------------+
|      70|          00:00|    101|                   8|          4|          0|              14|
|      70|          00:00|    101|                   1|          8|          6|              14|
|      70|          00:00|    101|                  15|          3|          1|              14|
|      70|          00:00|    101|                   2|          7|          2|              14|
|      70|          00:00|    101|                   6|          4|          2|              14|
|      70|          00:00|    101|                   4|          5|          1|              14|
|      70|          00:00|    101|                   9|          5|          0|              14|
|      70|          00:00|    101|                  10|          3|          1|              14|
|      70|          00:00|    101|                  17|          2|          0|              14|
|      70|          00:00|    101|                  13|          7|          1|              14|
|      70|          00:00|    205|                   2|          3|          1|               9|
|      70|          00:00|    205|                  17|          3|          1|               9|
|      70|          00:00|    205|                  15|          2|          2|               9|
|      70|          00:00|    205|                   9|          4|          0|               9|
|      70|          00:00|    205|                   1|          3|          3|               9|
|      70|          00:00|    205|                  22|          1|          0|               9|
|      70|          00:00|    205|                   8|          2|          1|               9|
|      70|          00:00|    205|                  16|          1|          0|               9|
|      70|          00:00|    205|                   5|          2|          1|               9|
|      70|          00:00|    205|                   3|          1|          0|               9|
+--------+---------------+-------+--------------------+-----------+-----------+----------------+

## Question 6

In [10]:
from pyspark.sql import functions as F

# Read gamestream data
gamestream = spark.read \
    .option("header", True) \
    .option("inferSchema", True) \
    .text("s3a://gamestreams/gamestream.txt") \
    .withColumn('columns', F.split('value', ' ')) \
    .selectExpr("columns[0] as event_id",
                "columns[1] as event_timestamp",
                "columns[2] as team_id",
                "columns[3] as player_jersey_number",
                "columns[4] as shot_result")

# Cast event_id column to integers
gamestream = gamestream.withColumn("event_id", F.col("event_id").cast("int"))

# Calculate the maximum event_id and corresponding event_timestamp
max_event_info = gamestream.selectExpr(
    "max(event_id) as max_event_id",
    "min(event_timestamp) as min_event_timestamp"
).head()

# Aggregations
output = gamestream \
    .groupBy("team_id", "player_jersey_number") \
    .agg(
        F.countDistinct("event_id").alias("total_shots"),
        F.sum(F.when(gamestream["shot_result"] == 1, 1).otherwise(0)).alias("total_goals"),
        F.min(F.col("event_timestamp")).alias("min_event_timestamp")
    )

# Fill null values with 0 for total_team_goals
output = output.fillna(0, subset=["total_goals"])

# Calculate total team goals
team_stats = gamestream.groupBy("team_id") \
    .agg(
        F.sum(F.when(gamestream["shot_result"] == 1, 1).otherwise(0)).alias("total_team_goals")
    )

# Join with max_event_info to add event_id and timestamp columns
output = output.join(team_stats, "team_id", "inner")

# Add the maximum event ID and timestamp
output = output.withColumn("max_event_id", F.lit(max_event_info["max_event_id"])) \
    .withColumn("min_event_timestamp", F.lit(max_event_info["min_event_timestamp"]))

# Rearrange columns and rename them
output = output.select("max_event_id", "min_event_timestamp", "team_id", "player_jersey_number",
                       "total_shots", "total_goals", "total_team_goals")

# Read player reference data from MSSQL
players_df = spark.read.format("com.microsoft.sqlserver.jdbc.spark") \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .option("url", mssql_url) \
    .option("dbtable", "players") \
    .option("user", mssql_user) \
    .option("password", mssql_pw) \
    .load()

# Read team reference data from MSSQL
teams_df = spark.read.format("com.microsoft.sqlserver.jdbc.spark") \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .option("url", mssql_url) \
    .option("dbtable", "teams") \
    .option("user", mssql_user) \
    .option("password", mssql_pw) \
    .load()

# Join players and teams
players_and_teams = players_df.join(teams_df, players_df["teamid"] == teams_df["id"], "left") \
    .select(players_df["*"], teams_df["name"].alias("team_name"),
            teams_df["conference"].alias("team_conference"),
            teams_df["wins"].alias("team_wins"),
            teams_df["losses"].alias("team_losses"))

# Join with output
output_with_players_and_teams = output.join(players_and_teams,
                                            (output["team_id"] == players_and_teams["teamid"]) &
                                            (output["player_jersey_number"] == players_and_teams["number"]),
                                            "right") \
    .select(
            output['max_event_id'].alias("event_id"),
            output['min_event_timestamp'].alias("event_timestamp"),
            players_and_teams['teamid'].alias("team_id"),
            players_and_teams['number'].alias("player_jersey_number"),
            output['total_shots'],
            output['total_goals'],
            output['total_team_goals'],
            players_and_teams["id"].alias("player_id"),
            players_and_teams["name"].alias("player_name"),
            players_and_teams["team_name"],
            players_and_teams["team_conference"],
            players_and_teams["team_wins"],
            players_and_teams["team_losses"])

# Fill null values with max values for event_id and event_timestamp
output_with_players_and_teams = output_with_players_and_teams \
    .fillna(max_event_info["max_event_id"], subset=["event_id"]) \
    .fillna(max_event_info["min_event_timestamp"], subset=["event_timestamp"])

# Fill null values with 0 for shots and goals
output_with_players_and_teams = output_with_players_and_teams.fillna(0, subset=["total_shots", "total_goals"])

# Calculate total team goals
team_goals_sum = output_with_players_and_teams.groupBy("team_id").agg(F.sum("total_goals").alias("sum_total_goals"))

# Fill null values with the sum of total_goals for each team_id
output_with_players_and_teams = output_with_players_and_teams.join(
    team_goals_sum, "team_id", "left"
).withColumn(
    "total_team_goals", F.coalesce("total_team_goals", "sum_total_goals")
).drop("sum_total_goals")  # Drop the redundant total_goals and sum_total_goals columns

# Show the final result
output_with_players_and_teams.show()

+-------+--------+---------------+--------------------+-----------+-----------+----------------+---------+-----------+-------------+---------------+---------+-----------+
|team_id|event_id|event_timestamp|player_jersey_number|total_shots|total_goals|total_team_goals|player_id|player_name|    team_name|team_conference|team_wins|team_losses|
+-------+--------+---------------+--------------------+-----------+-----------+----------------+---------+-----------+-------------+---------------+---------+-----------+
|    101|      70|          00:00|                   6|          4|          2|              14|        1|        sam|     syracuse|            acc|       11|          2|
|    101|      70|          00:00|                   1|          8|          6|              14|        2|      sarah|     syracuse|            acc|       11|          2|
|    101|      70|          00:00|                   2|          7|          2|              14|        3|      steve|     syracuse|            acc|       11|          2|
|    101|      70|          00:00|                  13|          7|          1|              14|        4|      stone|     syracuse|            acc|       11|          2|
|    101|      70|          00:00|                  17|          2|          0|              14|        5|       sean|     syracuse|            acc|       11|          2|
|    101|      70|          00:00|                   8|          4|          0|              14|        6|        sly|     syracuse|            acc|       11|          2|
|    101|      70|          00:00|                   9|          5|          0|              14|        7|        sol|     syracuse|            acc|       11|          2|
|    101|      70|          00:00|                   4|          5|          1|              14|        8|      shree|     syracuse|            acc|       11|          2|
|    101|      70|          00:00|                  15|          3|          1|              14|        9|     shelly|     syracuse|            acc|       11|          2|
|    101|      70|          00:00|                  10|          3|          1|              14|       10|      swede|     syracuse|            acc|       11|          2|
|    205|      70|          00:00|                   1|          3|          3|               9|       11|      jimmy|johns hopkins|          big10|        9|          4|
|    205|      70|          00:00|                   9|          4|          0|               9|       12|      julie|johns hopkins|          big10|        9|          4|
|    205|      70|          00:00|                   2|          3|          1|               9|       13|      james|johns hopkins|          big10|        9|          4|
|    205|      70|          00:00|                  15|          2|          2|               9|       14|       jane|johns hopkins|          big10|        9|          4|
|    205|      70|          00:00|                  16|          1|          0|               9|       15|      jimmy|johns hopkins|          big10|        9|          4|
|    205|      70|          00:00|                   8|          2|          1|               9|       16|      julie|johns hopkins|          big10|        9|          4|
|    205|      70|          00:00|                  17|          3|          1|               9|       17|      james|johns hopkins|          big10|        9|          4|
|    205|      70|          00:00|                   3|          1|          0|               9|       18|       jane|johns hopkins|          big10|        9|          4|
|    205|      70|          00:00|                   5|          2|          1|               9|       19|      jimmy|johns hopkins|          big10|        9|          4|
|    205|      70|          00:00|                  22|          1|          0|               9|       20|      julie|johns hopkins|          big10|        9|          4|
+-------+--------+---------------+--------------------+-----------+-----------+----------------+---------+-----------+-------------+---------------+---------+-----------+

## Question 7

In [11]:
# Q7

from pyspark.sql.functions import col, when, round

box_score_data = output_with_players_and_teams

# Create a pct column
box_score_data = box_score_data.withColumn("pct", 
                       when(col("total_shots") != 0, round(col("total_goals") / col("total_shots"), 2))
                       .otherwise(0))

In [12]:
from pyspark.sql.functions import col, round, min, max, lit, when

# Get the min and max total_team_goals
min_goals = box_score_data.select(min("total_team_goals")).collect()[0][0]
max_goals = box_score_data.select(max("total_team_goals")).collect()[0][0]

# Determine the count of distinct total_team_goals
distinct_goals_count = box_score_data.select("total_team_goals").distinct().count()

# Determine the status based on the count of distinct total_team_goals
box_score_data = box_score_data.withColumn("status",
                       when(lit(distinct_goals_count) == 1, "tied")
                       .otherwise(
                           when(col("total_team_goals") == min_goals, "losing")
                           .when(col("total_team_goals") == max_goals, "winning")
                           .otherwise("Not tied")))
box_score_data.show()

+-------+--------+---------------+--------------------+-----------+-----------+----------------+---------+-----------+-------------+---------------+---------+-----------+----+-------+
|team_id|event_id|event_timestamp|player_jersey_number|total_shots|total_goals|total_team_goals|player_id|player_name|    team_name|team_conference|team_wins|team_losses| pct| status|
+-------+--------+---------------+--------------------+-----------+-----------+----------------+---------+-----------+-------------+---------------+---------+-----------+----+-------+
|    101|      70|          00:00|                   6|          4|          2|              14|        1|        sam|     syracuse|            acc|       11|          2| 0.5|winning|
|    101|      70|          00:00|                   1|          8|          6|              14|        2|      sarah|     syracuse|            acc|       11|          2|0.75|winning|
|    101|      70|          00:00|                   2|          7|          2|              14|        3|      steve|     syracuse|            acc|       11|          2|0.29|winning|
|    101|      70|          00:00|                  13|          7|          1|              14|        4|      stone|     syracuse|            acc|       11|          2|0.14|winning|
|    101|      70|          00:00|                  17|          2|          0|              14|        5|       sean|     syracuse|            acc|       11|          2| 0.0|winning|
|    101|      70|          00:00|                   8|          4|          0|              14|        6|        sly|     syracuse|            acc|       11|          2| 0.0|winning|
|    101|      70|          00:00|                   9|          5|          0|              14|        7|        sol|     syracuse|            acc|       11|          2| 0.0|winning|
|    101|      70|          00:00|                   4|          5|          1|              14|        8|      shree|     syracuse|            acc|       11|          2| 0.2|winning|
|    101|      70|          00:00|                  15|          3|          1|              14|        9|     shelly|     syracuse|            acc|       11|          2|0.33|winning|
|    101|      70|          00:00|                  10|          3|          1|              14|       10|      swede|     syracuse|            acc|       11|          2|0.33|winning|
|    205|      70|          00:00|                   1|          3|          3|               9|       11|      jimmy|johns hopkins|          big10|        9|          4| 1.0| losing|
|    205|      70|          00:00|                   9|          4|          0|               9|       12|      julie|johns hopkins|          big10|        9|          4| 0.0| losing|
|    205|      70|          00:00|                   2|          3|          1|               9|       13|      james|johns hopkins|          big10|        9|          4|0.33| losing|
|    205|      70|          00:00|                  15|          2|          2|               9|       14|       jane|johns hopkins|          big10|        9|          4| 1.0| losing|
|    205|      70|          00:00|                  16|          1|          0|               9|       15|      jimmy|johns hopkins|          big10|        9|          4| 0.0| losing|
|    205|      70|          00:00|                   8|          2|          1|               9|       16|      julie|johns hopkins|          big10|        9|          4| 0.5| losing|
|    205|      70|          00:00|                  17|          3|          1|               9|       17|      james|johns hopkins|          big10|        9|          4|0.33| losing|
|    205|      70|          00:00|                   3|          1|          0|               9|       18|       jane|johns hopkins|          big10|        9|          4| 0.0| losing|
|    205|      70|          00:00|                   5|          2|          1|               9|       19|      jimmy|johns hopkins|          big10|        9|          4| 0.5| losing|
|    205|      70|          00:00|                  22|          1|          0|               9|       20|      julie|johns hopkins|          big10|        9|          4| 0.0| losing|
+-------+--------+---------------+--------------------+-----------+-----------+----------------+---------+-----------+-------------+---------------+---------+-----------+----+-------+

In [13]:
from pyspark.sql import functions as F

# Filter home and away teams
home_team_data = box_score_data.filter(box_score_data["team_id"] == 101)
away_team_data = box_score_data.filter(box_score_data["team_id"] == 205)

# Function to format player data
def format_player_data(player_data):
    return F.collect_list(
        F.concat(
            F.lit("{ id: "), player_data["player_id"], F.lit(", name: "), player_data["player_name"], F.lit(", shots: "),
            player_data["total_shots"], F.lit(", goals: "), player_data["total_goals"], F.lit(", pct: "), player_data["pct"], F.lit(" }")
        )
    ).alias("players")

# Apply transformations for home team
transformed_home_data = home_team_data.groupBy("event_id", "event_timestamp").agg(
    format_player_data(home_team_data),
    F.first("team_id").alias("teamid"),
    F.first("team_conference").alias("conference"),
    F.first("team_wins").alias("wins"),
    F.first("team_losses").alias("losses"),
    F.first("total_team_goals").alias("score"),
    F.first("status").alias("status")
).withColumn("score", F.col("score").cast("integer")) \
 .withColumn("home", F.struct(
     "teamid", "conference", "wins", "losses", "score", "status", "players"
 )) \
 .withColumnRenamed("event_id", "_id")

# Apply transformations for away team
transformed_away_data = away_team_data.groupBy("event_id", "event_timestamp").agg(
    format_player_data(away_team_data),
    F.first("team_id").alias("teamid"),
    F.first("team_conference").alias("conference"),
    F.first("team_wins").alias("wins"),
    F.first("team_losses").alias("losses"),
    F.first("total_team_goals").alias("score"),
    F.first("status").alias("status")
).withColumn("score", F.col("score").cast("integer")) \
 .withColumn("away", F.struct(
     "teamid", "conference", "wins", "losses", "score", "status", "players"
 )) \
 .withColumnRenamed("event_id", "_id")

# Join home and away data
final_data = transformed_home_data.join(transformed_away_data, ["_id", "event_timestamp"], "inner") \
    .select("_id", "event_timestamp", "home", "away")

final_data.show(truncate=True)

+---+---------------+--------------------+--------------------+
|_id|event_timestamp|                home|                away|
+---+---------------+--------------------+--------------------+
| 70|          00:00|{101, acc, 11, 2,...|{205, big10, 9, 4...|
+---+---------------+--------------------+--------------------+

In [14]:
final_data.printSchema()

root
 |-- _id: integer (nullable = true)
 |-- event_timestamp: string (nullable = false)
 |-- home: struct (nullable = false)
 |    |-- teamid: integer (nullable = true)
 |    |-- conference: string (nullable = true)
 |    |-- wins: integer (nullable = true)
 |    |-- losses: integer (nullable = true)
 |    |-- score: integer (nullable = true)
 |    |-- status: string (nullable = true)
 |    |-- players: array (nullable = false)
 |    |    |-- element: string (containsNull = false)
 |-- away: struct (nullable = false)
 |    |-- teamid: integer (nullable = true)
 |    |-- conference: string (nullable = true)
 |    |-- wins: integer (nullable = true)
 |    |-- losses: integer (nullable = true)
 |    |-- score: integer (nullable = true)
 |    |-- status: string (nullable = true)
 |    |-- players: array (nullable = false)
 |    |    |-- element: string (containsNull = false)

## Question 8

In [ ]:
# Q8

# Write to MongoDB
final_data.write \
    .format("mongo") \
    .mode("append") \
    .option("database", "sidearm") \
    .option("collection", "boxscores") \
    .save()

## Question 9

In [ ]:
from pyspark.sql import functions as F
from pyspark.sql.functions import col, when, round, min, max, lit

# Read gamestream data
gamestream = spark.read \
    .option("header", True) \
    .option("inferSchema", True) \
    .text("s3a://gamestreams/gamestream.txt") \
    .withColumn('columns', F.split('value', ' ')) \
    .selectExpr("columns[0] as event_id",
                "columns[1] as event_timestamp",
                "columns[2] as team_id",
                "columns[3] as player_jersey_number",
                "columns[4] as shot_result")

# Cast event_id column to integers
gamestream = gamestream.withColumn("event_id", F.col("event_id").cast("int"))

# Calculate the maximum event_id and corresponding event_timestamp
max_event_info = gamestream.selectExpr(
    "max(event_id) as max_event_id",
    "min(event_timestamp) as min_event_timestamp"
).head()

# Aggregations
output = gamestream \
    .groupBy("team_id", "player_jersey_number") \
    .agg(
        F.countDistinct("event_id").alias("total_shots"),
        F.sum(F.when(gamestream["shot_result"] == 1, 1).otherwise(0)).alias("total_goals"),
        F.min(F.col("event_timestamp")).alias("min_event_timestamp")
    )

# Fill null values with 0 for total_team_goals
output = output.fillna(0, subset=["total_goals"])

# Calculate total team goals
team_stats = gamestream.groupBy("team_id") \
    .agg(
        F.sum(F.when(gamestream["shot_result"] == 1, 1).otherwise(0)).alias("total_team_goals")
    )

# Join with max_event_info to add event_id and timestamp columns
output = output.join(team_stats, "team_id", "inner")

# Add the maximum event ID and timestamp
output = output.withColumn("max_event_id", F.lit(max_event_info["max_event_id"])) \
    .withColumn("min_event_timestamp", F.lit(max_event_info["min_event_timestamp"]))

# Rearrange columns and rename them
output = output.select("max_event_id", "min_event_timestamp", "team_id", "player_jersey_number",
                       "total_shots", "total_goals", "total_team_goals")

# Read player reference data from MSSQL
players_df = spark.read.format("com.microsoft.sqlserver.jdbc.spark") \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .option("url", mssql_url) \
    .option("dbtable", "players") \
    .option("user", mssql_user) \
    .option("password", mssql_pw) \
    .load()

# Read team reference data from MSSQL
teams_df = spark.read.format("com.microsoft.sqlserver.jdbc.spark") \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .option("url", mssql_url) \
    .option("dbtable", "teams") \
    .option("user", mssql_user) \
    .option("password", mssql_pw) \
    .load()

# Join players and teams
players_and_teams = players_df.join(teams_df, players_df["teamid"] == teams_df["id"], "left") \
    .select(players_df["*"], teams_df["name"].alias("team_name"),
            teams_df["conference"].alias("team_conference"),
            teams_df["wins"].alias("team_wins"),
            teams_df["losses"].alias("team_losses"))

# Join with output
output_with_players_and_teams = output.join(players_and_teams,
                                            (output["team_id"] == players_and_teams["teamid"]) &
                                            (output["player_jersey_number"] == players_and_teams["number"]),
                                            "right") \
    .select(
            output['max_event_id'].alias("event_id"),
            output['min_event_timestamp'].alias("event_timestamp"),
            players_and_teams['teamid'].alias("team_id"),
            players_and_teams['number'].alias("player_jersey_number"),
            output['total_shots'],
            output['total_goals'],
            output['total_team_goals'],
            players_and_teams["id"].alias("player_id"),
            players_and_teams["name"].alias("player_name"),
            players_and_teams["team_name"],
            players_and_teams["team_conference"],
            players_and_teams["team_wins"],
            players_and_teams["team_losses"])

# Fill null values with max values for event_id and event_timestamp
output_with_players_and_teams = output_with_players_and_teams \
    .fillna(max_event_info["max_event_id"], subset=["event_id"]) \
    .fillna(max_event_info["min_event_timestamp"], subset=["event_timestamp"])

# Fill null values with 0 for shots and goals
output_with_players_and_teams = output_with_players_and_teams.fillna(0, subset=["total_shots", "total_goals"])

# Calculate total team goals
team_goals_sum = output_with_players_and_teams.groupBy("team_id").agg(F.sum("total_goals").alias("sum_total_goals"))

# Fill null values with the sum of total_goals for each team_id
output_with_players_and_teams = output_with_players_and_teams.join(
    team_goals_sum, "team_id", "left"
).withColumn(
    "total_team_goals", F.coalesce("total_team_goals", "sum_total_goals")
).drop("sum_total_goals")  # Drop the redundant total_goals and sum_total_goals columns



# Create a pct column
box_score_data = output_with_players_and_teams.withColumn("pct", 
                       when(col("total_shots") != 0, round(col("total_goals") / col("total_shots"), 2))
                       .otherwise(0))

# Get the min and max total_team_goals
min_goals = box_score_data.select(min("total_team_goals")).collect()[0][0]
max_goals = box_score_data.select(max("total_team_goals")).collect()[0][0]

# Determine the count of distinct total_team_goals
distinct_goals_count = box_score_data.select("total_team_goals").distinct().count()

# Determine the status based on the count of distinct total_team_goals
box_score_data = box_score_data.withColumn("status",
                       when(lit(distinct_goals_count) == 1, "tied")
                       .otherwise(
                           when(col("total_team_goals") == min_goals, "losing")
                           .when(col("total_team_goals") == max_goals, "winning")
                           .otherwise("Not tied")))

# Filter home and away teams
home_team_data = box_score_data.filter(box_score_data["team_id"] == 101)
away_team_data = box_score_data.filter(box_score_data["team_id"] == 205)

# Function to format player data
def format_player_data(player_data):
    return F.collect_list(
        F.concat(
            F.lit("{ id: "), player_data["player_id"], F.lit(", name: "), player_data["player_name"], F.lit(", shots: "),
            player_data["total_shots"], F.lit(", goals: "), player_data["total_goals"], F.lit(", pct: "), player_data["pct"], F.lit(" }")
        )
    ).alias("players")

# Apply transformations for home team
transformed_home_data = home_team_data.groupBy("event_id", "event_timestamp").agg(
    format_player_data(home_team_data),
    F.first("team_id").alias("teamid"),
    F.first("team_conference").alias("conference"),
    F.first("team_wins").alias("wins"),
    F.first("team_losses").alias("losses"),
    F.first("total_team_goals").alias("score"),
    F.first("status").alias("status")
).withColumn("score", F.col("score").cast("integer")) \
 .withColumn("home", F.struct(
     "teamid", "conference", "wins", "losses", "score", "status", "players"
 )) \
 .withColumnRenamed("event_id", "_id")

# Apply transformations for away team
transformed_away_data = away_team_data.groupBy("event_id", "event_timestamp").agg(
    format_player_data(away_team_data),
    F.first("team_id").alias("teamid"),
    F.first("team_conference").alias("conference"),
    F.first("team_wins").alias("wins"),
    F.first("team_losses").alias("losses"),
    F.first("total_team_goals").alias("score"),
    F.first("status").alias("status")
).withColumn("score", F.col("score").cast("integer")) \
 .withColumn("away", F.struct(
     "teamid", "conference", "wins", "losses", "score", "status", "players"
 )) \
 .withColumnRenamed("event_id", "_id")

# Join home and away data
final_data = transformed_home_data.join(transformed_away_data, ["_id", "event_timestamp"], "inner") \
    .select("_id", "event_timestamp", "home", "away")



# Write to MongoDB
final_data.write \
    .format("mongo") \
    .mode("append") \
    .option("database", "sidearm") \
    .option("collection", "boxscores") \
    .save()

## Question 10

# Q10

SELECT * 
FROM mongo.sidearm.boxscores
ORDER BY event_timestamp
LIMIT 1;

## Question 11

In [15]:
# Q11

# Join teams_df with box_score_data on team_id
joined_df = teams_df.join(box_score_data, teams_df["id"] == box_score_data["team_id"], "inner")

# Update the wins and losses columns based on conditions
teams_updated_df = joined_df.withColumn("wins", 
    when(((joined_df["id"] == 101) | 
          (joined_df["id"] == 205)) & (joined_df["status"] == "winning") & 
         (box_score_data["event_timestamp"] == "00:00"), joined_df["wins"] + 1)
    .otherwise(joined_df["wins"])
)

teams_updated_df = teams_updated_df.withColumn("losses", 
    when(((teams_updated_df["id"] == 101) 
          | (teams_updated_df["id"] == 205)) & (teams_updated_df["status"] == "losing") & 
         (box_score_data["event_timestamp"] == "00:00"), teams_updated_df["losses"] + 1)
    .otherwise(teams_updated_df["losses"])
)

# Selecting necessary columns and dropping duplicates
teams_final_df = teams_updated_df.select(teams_df.columns).distinct()

# Display the updated DataFrame
teams_final_df.show()

+---+-------------+----------+----+------+
| id|         name|conference|wins|losses|
+---+-------------+----------+----+------+
|101|     syracuse|       acc|  12|     2|
|205|johns hopkins|     big10|   9|     5|
+---+-------------+----------+----+------+

## Question 12

In [22]:
# Q12

# Write in mssql teams2 table

teams_final_df.write.format("com.microsoft.sqlserver.jdbc.spark") \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .mode("overwrite") \
    .option("url", mssql_url) \
    .option("dbtable", "teams2") \
    .option("user", mssql_user) \
    .option("password", mssql_pw) \
    .save()

## Question 13

In [16]:
# Q13

# Join players_df with box_score_data on player_id
joined_df = players_df.join(box_score_data, players_df["id"] == box_score_data["player_id"], "inner")

# Update the shots and goals columns based on conditions
players_updated_df = joined_df.withColumn("shots", 
    when(box_score_data["event_timestamp"] == "00:00",
         when(joined_df["id"] == box_score_data["player_id"], joined_df["shots"] + box_score_data["total_shots"])
         .otherwise(joined_df["shots"])
    )
    .otherwise(joined_df["shots"])
)

players_updated_df = players_updated_df.withColumn("goals", 
    when(box_score_data["event_timestamp"] == "00:00",
         when(joined_df["id"] == box_score_data["player_id"], joined_df["goals"] + box_score_data["total_goals"])
         .otherwise(joined_df["goals"])
    )
    .otherwise(joined_df["goals"])
)

# Select necessary columns and drop duplicates
players_final_df = players_updated_df.select(players_df.columns).distinct()

# Order by team_id and player_id
players_final_df = players_final_df.orderBy("team_id", "id")

# Display the updated DataFrame
players_final_df.show()

+---+------+------+-----+-----+------+
| id|  name|number|shots|goals|teamid|
+---+------+------+-----+-----+------+
|  1|   sam|     6|   60|   25|   101|
|  2| sarah|     1|   93|   40|   101|
|  3| steve|     2|   67|   22|   101|
|  4| stone|    13|   40|   11|   101|
|  5|  sean|    17|   28|    9|   101|
|  6|   sly|     8|   82|   15|   101|
|  7|   sol|     9|   57|   20|   101|
|  8| shree|     4|   25|    5|   101|
|  9|shelly|    15|   13|    3|   101|
| 10| swede|    10|   93|   51|   101|
| 11| jimmy|     1|  103|   53|   205|
| 12| julie|     9|   14|    0|   205|
| 13| james|     2|   48|   16|   205|
| 14|  jane|    15|   84|   48|   205|
| 15| jimmy|    16|   43|   30|   205|
| 16| julie|     8|   69|   33|   205|
| 17| james|    17|   43|   15|   205|
| 18|  jane|     3|   92|   40|   205|
| 19| jimmy|     5|   80|   23|   205|
| 20| julie|    22|   84|   19|   205|
+---+------+------+-----+-----+------+

## Question 14

In [17]:
# Q14

# Write in mssql players2 table

players_final_df.write.format("com.microsoft.sqlserver.jdbc.spark") \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .mode("overwrite") \
    .option("url", mssql_url) \
    .option("dbtable", "players2") \
    .option("user", mssql_user) \
    .option("password", mssql_pw) \
    .save()

## Question 15

# Q15

SELECT
    t.name AS team_name,
    t.wins AS team_wins,
    t.losses AS team_losses,
    p.name AS player_name,
    p.shots AS player_shots,
    p.goals AS player_goals
FROM
    teams2 t
JOIN
    players2 p ON t.id = p.teamid;