# IST769 Final Exam

**INSTRUCTIONS FOR HIGHEST GRADE POSSIBLE**

Unless you are explicitly instructed otherwise, answer each of the following using PySpark / Spark SQL. For any queries you write make sure to include a `printSchema()` and sample(s) of the output which clearly demonstrates the code is correct.

In [1]:
! sudo cp /home/jovyan/work/jars/neo4j-connector-apache-spark_2.12-4.1.0_for_spark_3.jar /usr/local/spark/jars/neo4j-connector-apache-spark_2.12-4.1.0_for_spark_3.jar

In [2]:
!pip install -q cassandra-driver

In [3]:
import pyspark
from pyspark.sql import SparkSession

In [4]:
# YOUR NAME ========>   Hendi Kushta
# YOUR SU EMAIL ====>  hkushta@syr.edu

### Question 1

In the cell below configure a spark session that is configured to connect to `mongodb`, `minio`, `cassandra`, '`elasticsearch` and `neo4j`.

In [5]:
#1 Spark session

# MongoDB Configuration
mongo_user = "admin"
mongo_passwd = "mongopw"
mongo_uri = f"mongodb://{mongo_user}:{mongo_passwd}@mongo:27017/admin?authSource=admin"

# Minio Configuration
s3_host = "minio"
s3_url = f"http://{s3_host}:9000"
s3_key = "minio"
s3_secret = "SU2orange!"
s3_bucket = "enrollments"

# Cassandra Configuration
cassandra_host = "cassandra"

# Elasticsearch Configuration
elastic_host = "elasticsearch"
elastic_port = "9200"

# Neo4j Configuration
bolt_url = "bolt://neo4j:7687"

spark = SparkSession.builder \
    .master("local") \
    .appName('jupyter-pyspark') \
    .config("spark.mongodb.input.uri", mongo_uri) \
    .config("spark.mongodb.output.uri", mongo_uri) \
    .config("spark.jars.packages", "org.mongodb.spark:mongo-spark-connector_2.12:3.0.1,com.datastax.spark:spark-cassandra-connector-assembly_2.12:3.1.0,com.datastax.spark:spark-cassandra-connector_2.12:3.1.0,org.elasticsearch:elasticsearch-spark-20_2.12:7.15.0") \
    .config("spark.hadoop.fs.s3a.endpoint", s3_url) \
    .config("spark.hadoop.fs.s3a.access.key", s3_key) \
    .config("spark.hadoop.fs.s3a.secret.key", s3_secret) \
    .config("spark.hadoop.fs.s3a.fast.upload", True) \
    .config("spark.hadoop.fs.s3a.path.style.access", True) \
    .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem") \
    .config("spark.cassandra.connection.host", cassandra_host) \
    .config("spark.es.nodes", elastic_host) \
    .config("spark.es.port", elastic_port) \
    .getOrCreate()


sc = spark.sparkContext
sc.setLogLevel("ERROR")

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark-3.1.2-bin-hadoop3.2/jars/spark-unsafe_2.12-3.1.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release

:: loading settings :: url = jar:file:/usr/local/spark-3.1.2-bin-hadoop3.2/jars/ivy-2.4.0.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/jovyan/.ivy2/cache
The jars for the packages stored in: /home/jovyan/.ivy2/jars
org.mongodb.spark#mongo-spark-connector_2.12 added as a dependency
com.datastax.spark#spark-cassandra-connector-assembly_2.12 added as a dependency
com.datastax.spark#spark-cassandra-connector_2.12 added as a dependency
org.elasticsearch#elasticsearch-spark-20_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-85d82a9b-23c7-428c-859a-64a2d9dc1923;1.0
	confs: [default]
	found org.mongodb.spark#mongo-spark-connector_2.12;3.0.1 in central
	found org.mongodb#mongodb-driver-sync;4.0.5 in central
	found org.mongodb#bson;4.0.5 in central
	found org.mongodb#mongodb-driver-core;4.0.5 in central
	found com.datastax.spark#spark-cassandra-connector-assembly_2.12;3.1.0 in central
	found com.datastax.spark#spark-cassandra-connector_2.12;3.1.0 in central
	found com.datastax.spark#spark-cassandra-connector-driver_2.12;3.1.0 in central
	found com.datastax.oss#java-driver-core-shaded;4.12.0 in central
	found com.datastax.oss#native-protocol;1.5.0 in central
	found com.datastax.oss#java-driver-shaded-guava;25.1-jre-graal-sub-1 in central
	found com.typesafe#config;1.4.1 in central
	found org.slf4j#slf4j-api;1.7.26 in central
	found io.dropwizard.metrics#metrics-core;4.1.18 in central
	found org.hdrhistogram#HdrHistogram;2.1.12 in central
	found org.reactivestreams#reactive-streams;1.0.3 in central
	found com.github.stephenc.jcip#jcip-annotations;1.0-1 in central
	found com.github.spotbugs#spotbugs-annotations;3.1.12 in central
	found com.google.code.findbugs#jsr305;3.0.2 in central
	found com.datastax.oss#java-driver-mapper-runtime;4.12.0 in central
	found com.datastax.oss#java-driver-query-builder;4.12.0 in central
	found org.apache.commons#commons-lang3;3.10 in central
	found com.thoughtworks.paranamer#paranamer;2.8 in central
	found org.scala-lang#scala-reflect;2.12.11 in central
	found org.elasticsearch#elasticsearch-spark-20_2.12;7.15.0 in central
	found commons-logging#commons-logging;1.1.1 in central
	found javax.xml.bind#jaxb-api;2.3.1 in central
	found com.google.protobuf#protobuf-java;2.5.0 in central
	found org.apache.spark#spark-yarn_2.12;2.4.4 in central
:: resolution report :: resolve 1259ms :: artifacts dl 28ms
	:: modules in use:
	com.datastax.oss#java-driver-core-shaded;4.12.0 from central in [default]
	com.datastax.oss#java-driver-mapper-runtime;4.12.0 from central in [default]
	com.datastax.oss#java-driver-query-builder;4.12.0 from central in [default]
	com.datastax.oss#java-driver-shaded-guava;25.1-jre-graal-sub-1 from central in [default]
	com.datastax.oss#native-protocol;1.5.0 from central in [default]
	com.datastax.spark#spark-cassandra-connector-assembly_2.12;3.1.0 from central in [default]
	com.datastax.spark#spark-cassandra-connector-driver_2.12;3.1.0 from central in [default]
	com.datastax.spark#spark-cassandra-connector_2.12;3.1.0 from central in [default]
	com.github.spotbugs#spotbugs-annotations;3.1.12 from central in [default]
	com.github.stephenc.jcip#jcip-annotations;1.0-1 from central in [default]
	com.google.code.findbugs#jsr305;3.0.2 from central in [default]
	com.google.protobuf#protobuf-java;2.5.0 from central in [default]
	com.thoughtworks.paranamer#paranamer;2.8 from central in [default]
	com.typesafe#config;1.4.1 from central in [default]
	commons-logging#commons-logging;1.1.1 from central in [default]
	io.dropwizard.metrics#metrics-core;4.1.18 from central in [default]
	javax.xml.bind#jaxb-api;2.3.1 from central in [default]
	org.apache.commons#commons-lang3;3.10 from central in [default]
	org.apache.spark#spark-yarn_2.12;2.4.4 from central in [default]
	org.elasticsearch#elasticsearch-spark-20_2.12;7.15.0 from central in [default]
	org.hdrhistogram#HdrHistogram;2.1.12 from central in [default]
	org.mongodb#bson;4.0.5 from central in [default]
	org.mongodb#mongodb-driver-core;4.0.5 from central in [default]
	org.mongodb#mongodb-driver-sync;4.0.5 from central in [default]
	org.mongodb.spark#mongo-spark-connector_2.12;3.0.1 from central in [default]
	org.reactivestreams#reactive-streams;1.0.3 from central in [default]
	org.scala-lang#scala-reflect;2.12.11 from central in [default]
	org.slf4j#slf4j-api;1.7.26 from central in [default]
	:: evicted modules:
	org.scala-lang#scala-reflect;2.12.8 by [org.scala-lang#scala-reflect;2.12.11] in [default]
	org.slf4j#slf4j-api;1.7.6 by [org.slf4j#slf4j-api;1.7.26] in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   30  |   0   |   0   |   2   ||   24  |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-85d82a9b-23c7-428c-859a-64a2d9dc1923
	confs: [default]
	0 artifacts copied, 24 already retrieved (0kB/16ms)
24/04/26 23:06:40 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

### Question 2

Demonstrate you can read the process-oriented data `enrollments` and `sections` from `minio` using PySpark.

In [6]:
#2a enrollments

# read from minio
df_enrollments = spark.read.csv("s3a://enrollments/enrollments.csv",header=True, inferSchema=True)
df_enrollments.show(5)
df_enrollments.printSchema()

+----+-----------------+------+-------+-----------------+-----+------------+
|term|course_enrollment|course|section|       student_id|grade|grade_points|
+----+-----------------+------+-------+-----------------+-----+------------+
|1221|                1|IST659|   M001|      orenjouglad|    C|         2.0|
|1221|                2|IST659|   M001|      billmelator|    A|         4.0|
|1221|                3|IST659|   M001|       morrisless|    A|         4.0|
|1221|                4|IST659|   M001|amberwavesofgrain|   A-|       3.667|
|1221|                5|IST659|   M001|         abbykuss|    A|         4.0|
+----+-----------------+------+-------+-----------------+-----+------------+
only showing top 5 rows

root
 |-- term: integer (nullable = true)
 |-- course_enrollment: integer (nullable = true)
 |-- course: string (nullable = true)
 |-- section: string (nullable = true)
 |-- student_id: string (nullable = true)
 |-- grade: string (nullable = true)
 |-- grade_points: double (nullable = true)

In [7]:
#2b sections 

# read from minio
df_sections = spark.read.csv("s3a://enrollments/sections.csv",header=True, inferSchema=True)
df_sections.show(5)
df_sections.printSchema()

+----+------+-------+----------+--------+
|term|course|section|enrollment|capacity|
+----+------+-------+----------+--------+
|1221|IST659|   M001|        20|      20|
|1221|IST659|   M002|        20|      20|
|1221|IST722|   M001|        25|      28|
|1221|IST615|   M001|        22|      28|
|1221|IST621|   M001|        22|      24|
+----+------+-------+----------+--------+
only showing top 5 rows

root
 |-- term: integer (nullable = true)
 |-- course: string (nullable = true)
 |-- section: string (nullable = true)
 |-- enrollment: integer (nullable = true)
 |-- capacity: integer (nullable = true)

### Question 3

Demonstrate you can read the reference-oriented data `terms`, `students`, `courses`, and `program` reference data from `MongoDb` using PySpark.

In [8]:
#3a terms 

# read from Mongo
df_terms = spark.read.format("mongo") \
    .option("database","ischooldb") \
    .option("collection","terms") \
    .load()

df_terms.show(5)
df_terms.printSchema()

+----+-------------+----+-----------+--------+----+
| _id|academic_year|code|       name|semester|year|
+----+-------------+----+-----------+--------+----+
|1221|    2021-2022|1221|  Fall 2021|    Fall|2021|
|1222|    2021-2022|1222|Spring 2022|  Spring|2022|
|1231|    2022-2023|1231|  Fall 2022|    Fall|2022|
|1232|    2022-2023|1232|Spring 2023|  Spring|2023|
+----+-------------+----+-----------+--------+----+

root
 |-- _id: string (nullable = true)
 |-- academic_year: string (nullable = true)
 |-- code: string (nullable = true)
 |-- name: string (nullable = true)
 |-- semester: string (nullable = true)
 |-- year: integer (nullable = true)

In [9]:
#3b courses

# read from Mongo
df_courses = spark.read.format("mongo") \
    .option("database","ischooldb") \
    .option("collection","courses") \
    .load()

df_courses.show(5)
df_courses.printSchema()

+------+------+-------+--------------------+--------------------+----------------+--------------------+-------------+--------------------+
|   _id|  code|credits|         description|elective_in_programs| key_assignments|                name|prerequisites|required_in_programs|
+------+------+-------+--------------------+--------------------+----------------+--------------------+-------------+--------------------+
|IST659|IST659|      3|Definition, devel...|                  []|       [project]|Data Administrati...|           []|            [IS, DS]|
|IST722|IST722|      3|Introduction to c...|                [IS]| [project, exam]|    Data Warehousing|     [IST659]|                  []|
|IST769|IST769|      3|Analyze relationa...|                [DS]| [project, exam]|Advanced Big Data...|     [IST659]|                  []|
|IST615|IST615|      3|Cloud services cr...|                  []|[project, paper]|    Cloud Management|           []|            [IS, DS]|
|IST714|IST714|      3|Advanced, lab-bas...|            [IS, DS]|       [project]|  Cloud Architecture|     [IST615]|                  []|
+------+------+-------+--------------------+--------------------+----------------+--------------------+-------------+--------------------+
only showing top 5 rows

root
 |-- _id: string (nullable = true)
 |-- code: string (nullable = true)
 |-- credits: integer (nullable = true)
 |-- description: string (nullable = true)
 |-- elective_in_programs: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- key_assignments: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- name: string (nullable = true)
 |-- prerequisites: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- required_in_programs: array (nullable = true)
 |    |-- element: string (containsNull = true)

In [10]:
#3c Programs

# read from Mongo
df_programs = spark.read.format("mongo") \
    .option("database","ischooldb") \
    .option("collection","programs") \
    .load()

df_programs.show(5)
df_programs.printSchema()

+---+----+-------+--------------------+--------------------+--------------------+-----------+
|_id|code|credits|    elective_courses|                name|    required_courses|       type|
+---+----+-------+--------------------+--------------------+--------------------+-----------+
| IS|  IS|     36|[IST722, IST714, ...| Information Systems|[IST659, IST615, ...|    Masters|
| DS|  DS|     34|    [IST769, IST714]|        Data Science|[IST659, IST615, ...|    Masters|
|BDC| BDC|      9|                null|Data Engineering ...|[IST659, IST722, ...|Certificate|
|CCC| CCC|      9|                null|Cloud Computing C...|[IST621, IST615, ...|Certificate|
|MLC| MLC|      9|                null|Machine Learning ...|[IST687, IST707, ...|Certificate|
+---+----+-------+--------------------+--------------------+--------------------+-----------+

root
 |-- _id: string (nullable = true)
 |-- code: string (nullable = true)
 |-- credits: integer (nullable = true)
 |-- elective_courses: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- name: string (nullable = true)
 |-- required_courses: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- type: string (nullable = true)

In [11]:
#3d students

# read from Mongo
df_students = spark.read.format("mongo") \
    .option("database","ischooldb") \
    .option("collection","students") \
    .load()

df_students.show(5)
df_students.printSchema()

+------------+-------------+-------+
|         _id|         name|program|
+------------+-------------+-------+
|    abbykuss|    Abby Kuss|     DS|
|  adamantium|  Adam Antium|     IS|
|   addieowse|   Addie Owse|     IS|
|aidensomewun|Aiden Somewun|     IS|
|aidenknowone|Aiden Knowone|     DS|
+------------+-------------+-------+
only showing top 5 rows

root
 |-- _id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- program: string (nullable = true)

### Question 4

Prepare the `section` data for loading into `cassandra` and `elasticsearch` with Spark or Spark SQL. Just PREPARE it do not LOAD it. Remember that we want this data to be as wide as possible, so include all relevant reference data. For example, the `section` data should include `term` attributes like `year`,  `academic year`, etc... and from `course`, attributes like `credits`, `name`, `prerequisites`, etc...

In [12]:
#4 wide_sections

from pyspark.sql.functions import col

# Joining section data with terms, courses, and programs
df_sections_prep = df_sections.alias("sections").join(df_terms.alias("terms"), col("sections.term") == col("terms._id"), how="left") \
    .join(df_courses.alias("courses"), col("sections.course") == col("courses._id"), how="left") \
    .select(
        col("sections.term"),
        col("sections.course"),
        col("sections.section"),
        col("sections.enrollment"),
        col("sections.capacity"),
        col("terms.name").alias("term_name"),
        col("terms.semester").alias("term_semester"),
        col("terms.year").alias("term_year"),
        col("terms.academic_year"),
        col("courses.credits").alias("course_credits"),
        col("courses.name").alias("course_name"),
        col("courses.description").alias("course_description"),
        col("courses.key_assignments"),
        col("courses.elective_in_programs"),
        col("courses.prerequisites"),
        col("courses.required_in_programs")
    )

df_sections_prep.show(5)
df_sections_prep.printSchema()

+----+------+-------+----------+--------+-----------+-------------+---------+-------------+--------------+----------------+--------------------+----------------+--------------------+-------------+--------------------+
|term|course|section|enrollment|capacity|  term_name|term_semester|term_year|academic_year|course_credits|     course_name|  course_description| key_assignments|elective_in_programs|prerequisites|required_in_programs|
+----+------+-------+----------+--------+-----------+-------------+---------+-------------+--------------+----------------+--------------------+----------------+--------------------+-------------+--------------------+
|1232|IST615|   M001|        21|      28|Spring 2023|       Spring|     2023|    2022-2023|             3|Cloud Management|Cloud services cr...|[project, paper]|                  []|           []|            [IS, DS]|
|1232|IST615|   M002|        20|      24|Spring 2023|       Spring|     2023|    2022-2023|             3|Cloud Management|Cloud services cr...|[project, paper]|                  []|           []|            [IS, DS]|
|1222|IST615|   M001|        19|      24|Spring 2022|       Spring|     2022|    2021-2022|             3|Cloud Management|Cloud services cr...|[project, paper]|                  []|           []|            [IS, DS]|
|1231|IST615|   M001|        21|      24|  Fall 2022|         Fall|     2022|    2022-2023|             3|Cloud Management|Cloud services cr...|[project, paper]|                  []|           []|            [IS, DS]|
|1221|IST615|   M001|        22|      28|  Fall 2021|         Fall|     2021|    2021-2022|             3|Cloud Management|Cloud services cr...|[project, paper]|                  []|           []|            [IS, DS]|
+----+------+-------+----------+--------+-----------+-------------+---------+-------------+--------------+----------------+--------------------+----------------+--------------------+-------------+--------------------+
only showing top 5 rows

root
 |-- term: integer (nullable = true)
 |-- course: string (nullable = true)
 |-- section: string (nullable = true)
 |-- enrollment: integer (nullable = true)
 |-- capacity: integer (nullable = true)
 |-- term_name: string (nullable = true)
 |-- term_semester: string (nullable = true)
 |-- term_year: integer (nullable = true)
 |-- academic_year: string (nullable = true)
 |-- course_credits: integer (nullable = true)
 |-- course_name: string (nullable = true)
 |-- course_description: string (nullable = true)
 |-- key_assignments: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- elective_in_programs: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- prerequisites: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- required_in_programs: array (nullable = true)
 |    |-- element: string (containsNull = true)

### Question 5

Use the `cassandra-driver` example from class to write python code to connect to cassandra from within Jupyter and create a keyspace named `ischooldb`. Design a cassandra table called `sections` to store the data from question 4. Appropriate key design is important! Please explain your justification for key below your table definition. Provide clear evidence that your table was created by querying the empty table in spark and use `printSchema()` to show the schema.

In [13]:
#5 create cassandra table for wide_sections

from cassandra.cluster import Cluster

# Connect to Cassandra
with Cluster([cassandra_host]) as cluster:
    session = cluster.connect()
    
    # Create keyspace
    session.execute("CREATE KEYSPACE IF NOT EXISTS ischooldb WITH replication = {'class': 'SimpleStrategy', 'replication_factor': 1};")
    
    # Switch to ischooldb keyspace
    session.set_keyspace('ischooldb')
    
    # Create table wide_sections
    sql = '''
    CREATE TABLE IF NOT EXISTS wide_sections (
        term INT,
        course TEXT,
        section TEXT,
        enrollment INT,
        capacity INT,
        term_name TEXT,
        term_semester TEXT,
        term_year INT,
        academic_year TEXT,
        course_credits INT,
        course_name TEXT,
        course_description TEXT,
        key_assignments TEXT,
        elective_in_programs TEXT,
        prerequisites TEXT,
        required_in_programs TEXT,
        PRIMARY KEY ((term_semester, term_year), term, course, section)
    );
    '''
    
    session.execute(sql)

In [14]:
# Query the Cassandra table (wide_sections) using the DataFrame (df_sections_prep)
cassandra_df = spark.read\
    .format("org.apache.spark.sql.cassandra")\
    .options(table="wide_sections", keyspace="ischooldb")\
    .load()

cassandra_df.show()

# Display the schema of the Cassandra DataFrame
cassandra_df.printSchema()

+-------------+---------+----+------+-------+-------------+--------+--------------+------------------+-----------+--------------------+----------+---------------+-------------+--------------------+---------+
|term_semester|term_year|term|course|section|academic_year|capacity|course_credits|course_description|course_name|elective_in_programs|enrollment|key_assignments|prerequisites|required_in_programs|term_name|
+-------------+---------+----+------+-------+-------------+--------+--------------+------------------+-----------+--------------------+----------+---------------+-------------+--------------------+---------+
+-------------+---------+----+------+-------+-------------+--------+--------------+------------------+-----------+--------------------+----------+---------------+-------------+--------------------+---------+

root
 |-- term_semester: string (nullable = false)
 |-- term_year: integer (nullable = false)
 |-- term: integer (nullable = true)
 |-- course: string (nullable = true)
 |-- section: string (nullable = true)
 |-- academic_year: string (nullable = true)
 |-- capacity: integer (nullable = true)
 |-- course_credits: integer (nullable = true)
 |-- course_description: string (nullable = true)
 |-- course_name: string (nullable = true)
 |-- elective_in_programs: string (nullable = true)
 |-- enrollment: integer (nullable = true)
 |-- key_assignments: string (nullable = true)
 |-- prerequisites: string (nullable = true)
 |-- required_in_programs: string (nullable = true)
 |-- term_name: string (nullable = true)

### Question 6

Load the data frame you created in question 4 into the `cassandra` table you created in question 5. Demonstrate the data is in the table by querying back it with PySpark. Make sure you can run the code multiple times and each time it replaces the existing data.

In [15]:
#6 load wide_sections into cassandra

df_sections_prep.write \
    .format("org.apache.spark.sql.cassandra") \
    .mode("Overwrite") \
    .option("table", "wide_sections") \
    .option("keyspace", "ischooldb") \
    .option("confirm.truncate", "true") \
    .option("spark.cassandra.connection.host", cassandra_host) \
    .save()

# have to truncate and then overwrite in cassandra in order to run the code multiple times and each time to replace the existing data.

In [16]:
# read back from Cassandra
df_sections_prep =spark.read.format("org.apache.spark.sql.cassandra")\
    .options(table="wide_sections", keyspace="ischooldb") \
    .load()
df_sections_prep.toPandas().head()

,term_semester,term_year,term,course,section,academic_year,capacity,course_credits,course_description,course_name,elective_in_programs,enrollment,key_assignments,prerequisites,required_in_programs,term_name
0,Spring,2022,1222,IST615,M001,2021-2022,24,3,Cloud services creation and management. Practi...,Cloud Management,[],19,"[project,paper]",[],"[IS,DS]",Spring 2022
1,Spring,2022,1222,IST621,M001,2021-2022,28,3,Information and technology management overview...,Information Management and Technology,[],28,[paper],[],[IS],Spring 2022
2,Spring,2022,1222,IST621,M002,2021-2022,24,3,Information and technology management overview...,Information Management and Technology,[],22,[paper],[],[IS],Spring 2022
3,Spring,2022,1222,IST659,M001,2021-2022,24,3,"Definition, development, and management of dat...",Data Administration Concepts and Database Mana...,[],24,[project],[],"[IS,DS]",Spring 2022
4,Spring,2022,1222,IST687,M001,2021-2022,20,3,Introduces information professionals to fundam...,Introduction to Data Science,[IS],18,"[project,exam]",[],[DS],Spring 2022

### Question 7

Since we did not learn how to create a custom elasticsearch mapping, before you can load the data into `elasticsearch` you will need to flatten the nested data. For example, `course_is_elective_in_programs` should generate 2 columns `course_is_elective_for_IS` and `course_is_elective_for_DS`. You'll need to repeat this step for `course_is_required_in_programs`. Omit the `course_prerequisites` and `course_key_assignments` column.

In [17]:
df_sections_prep.select("elective_in_programs").distinct().show()
df_sections_prep.select("required_in_programs").distinct().show()

+--------------------+
|elective_in_programs|
+--------------------+
|             [IS,DS]|
|                  []|
|                [IS]|
|                [DS]|
+--------------------+

+--------------------+
|required_in_programs|
+--------------------+
|             [IS,DS]|
|                  []|
|                [IS]|
|                [DS]|
+--------------------+

In [18]:
#7 flatten `course_is_elective_in_programs` and `course_is_required_in_programs` 

from pyspark.sql.functions import col, when

# Flatten the elective_in_programs and course_is_required_in_programs columns
df_sections_prep_flattened = df_sections_prep.withColumn("course_is_elective_for_IS", when(col("elective_in_programs").contains("IS"), 1).otherwise(0)) \
    .withColumn("course_is_elective_for_DS", when(col("elective_in_programs").contains("DS"), 1).otherwise(0)) \
    .withColumn("course_is_required_for_IS", when(col("required_in_programs").contains("IS"), 1).otherwise(0)) \
    .withColumn("course_is_required_for_DS", when(col("required_in_programs").contains("DS"), 1).otherwise(0)) \
    .drop("elective_in_programs", "required_in_programs", "prerequisites", "key_assignments")

# Show the flattened DataFrame
df_sections_prep_flattened.show(5)

# Display the schema of the flattened DataFrame
df_sections_prep_flattened.printSchema()

+-------------+---------+----+------+-------+-------------+--------+--------------+--------------------+--------------------+----------+-----------+-------------------------+-------------------------+-------------------------+-------------------------+
|term_semester|term_year|term|course|section|academic_year|capacity|course_credits|  course_description|         course_name|enrollment|  term_name|course_is_elective_for_IS|course_is_elective_for_DS|course_is_required_for_IS|course_is_required_for_DS|
+-------------+---------+----+------+-------+-------------+--------+--------------+--------------------+--------------------+----------+-----------+-------------------------+-------------------------+-------------------------+-------------------------+
|       Spring|     2023|1232|IST615|   M001|    2022-2023|      28|             3|Cloud services cr...|    Cloud Management|        21|Spring 2023|                        0|                        0|                        1|                        1|
|       Spring|     2023|1232|IST615|   M002|    2022-2023|      24|             3|Cloud services cr...|    Cloud Management|        20|Spring 2023|                        0|                        0|                        1|                        1|
|       Spring|     2023|1232|IST621|   M001|    2022-2023|      28|             3|Information and t...|Information Manag...|        28|Spring 2023|                        0|                        0|                        1|                        0|
|       Spring|     2023|1232|IST621|   M002|    2022-2023|      24|             3|Information and t...|Information Manag...|        21|Spring 2023|                        0|                        0|                        1|                        0|
|       Spring|     2023|1232|IST659|   M001|    2022-2023|      20|             3|Definition, devel...|Data Administrati...|        20|Spring 2023|                        0|                        0|                        1|                        1|
+-------------+---------+----+------+-------+-------------+--------+--------------+--------------------+--------------------+----------+-----------+-------------------------+-------------------------+-------------------------+-------------------------+
only showing top 5 rows

root
 |-- term_semester: string (nullable = false)
 |-- term_year: integer (nullable = false)
 |-- term: integer (nullable = true)
 |-- course: string (nullable = true)
 |-- section: string (nullable = true)
 |-- academic_year: string (nullable = true)
 |-- capacity: integer (nullable = true)
 |-- course_credits: integer (nullable = true)
 |-- course_description: string (nullable = true)
 |-- course_name: string (nullable = true)
 |-- enrollment: integer (nullable = true)
 |-- term_name: string (nullable = true)
 |-- course_is_elective_for_IS: integer (nullable = false)
 |-- course_is_elective_for_DS: integer (nullable = false)
 |-- course_is_required_for_IS: integer (nullable = false)
 |-- course_is_required_for_DS: integer (nullable = false)

### Question 8

Load the data frame you created in question 7 into `elasticsearch`, under the index `sections`.  Demonstrate the data is in the index by querying back it with PySpark.

In [19]:
#8 load wide_sections_flattened into elasticsearch

df_sections_prep_flattened.write.mode("Overwrite").format("es").save("sections/_doc")

# read back from Elasticsearch
df_sections_elastic = spark.read.format("es").load("sections/_doc")
df_sections_elastic.toPandas().head()

,academic_year,capacity,course,course_credits,course_description,course_is_elective_for_DS,course_is_elective_for_IS,course_is_required_for_DS,course_is_required_for_IS,course_name,enrollment,section,term,term_name,term_semester,term_year
0,2021-2022,24,IST615,3,Cloud services creation and management. Practi...,0,0,1,1,Cloud Management,19,M001,1222,Spring 2022,Spring,2022
1,2021-2022,28,IST621,3,Information and technology management overview...,0,0,0,1,Information Management and Technology,28,M001,1222,Spring 2022,Spring,2022
2,2021-2022,24,IST621,3,Information and technology management overview...,0,0,0,1,Information Management and Technology,22,M002,1222,Spring 2022,Spring,2022
3,2021-2022,24,IST659,3,"Definition, development, and management of dat...",0,0,1,1,Data Administration Concepts and Database Mana...,24,M001,1222,Spring 2022,Spring,2022
4,2021-2022,20,IST687,3,Introduces information professionals to fundam...,0,1,1,0,Introduction to Data Science,18,M001,1222,Spring 2022,Spring,2022

### Question 9

Similar to question 4, prepare the `enrollments` for loading into `cassandra` and `elasticsearch` with Spark or Spark SQL. For this wide table we want to include the same reference data for `sections` but include the `student` attributes and the `program` data associated with the student.

In [20]:
#9 create wide_enrollments

from pyspark.sql.functions import col, array_contains, when

# Joining enrollment data with sections, students, and programs using df_sections_prep_flatten
df_enrollments_prep = df_enrollments.alias("enrollments") \
    .join(df_sections_prep_flattened.alias("sections"), 
          (col("enrollments.term") == col("sections.term")) &
          (col("enrollments.course") == col("sections.course")) &
          (col("enrollments.section") == col("sections.section")), 
          how="left") \
    .join(df_students.alias("students"), col("enrollments.student_id") == col("students._id"), how="left") \
    .join(df_programs.alias("programs"), col("students.program") == col("programs.code"), how="left") \
    .select(
        col("enrollments.term").alias("term"),
        col("enrollments.course_enrollment").alias("course_enrollment"),
        col("enrollments.course"),
        col("enrollments.section"),
        col("enrollments.student_id"),
        col("enrollments.grade"),
        col("enrollments.grade_points"),
        
        col("sections.capacity"),
        col("sections.term_name"),
        col("sections.term_semester"),
        col("sections.term_year"),
        col("sections.academic_year"),
        col("sections.course_credits"),
        col("sections.course_name"),
        col("sections.course_description"),
        col("sections.course_is_elective_for_IS"),
        col("sections.course_is_elective_for_DS"),
        col("sections.course_is_required_for_IS"),
        col("sections.course_is_required_for_DS"),
    
        col("students.name").alias("student_name"),
        col("students.program"),
        
        col("programs.credits").alias("program_credits"),
        col("programs.elective_courses").alias("program_elective_courses"),
        col("programs.name").alias("program_name"),
        col("programs.required_courses").alias("program_required_courses"),
        col("programs.type").alias("program_type")
    )

# Show and print schema
df_enrollments_prep.show(5)
df_enrollments_prep.printSchema()

+----+-----------------+------+-------+----------+-----+------------+--------+-----------+-------------+---------+-------------+--------------+--------------------+--------------------+-------------------------+-------------------------+-------------------------+-------------------------+------------+-------+---------------+------------------------+------------+------------------------+------------+
|term|course_enrollment|course|section|student_id|grade|grade_points|capacity|  term_name|term_semester|term_year|academic_year|course_credits|         course_name|  course_description|course_is_elective_for_IS|course_is_elective_for_DS|course_is_required_for_IS|course_is_required_for_DS|student_name|program|program_credits|program_elective_courses|program_name|program_required_courses|program_type|
+----+-----------------+------+-------+----------+-----+------------+--------+-----------+-------------+---------+-------------+--------------+--------------------+--------------------+-------------------------+-------------------------+-------------------------+-------------------------+------------+-------+---------------+------------------------+------------+------------------------+------------+
|1232|               21|IST621|   M001|artiechoke|    A|         4.0|      28|Spring 2023|       Spring|     2023|    2022-2023|             3|Information Manag...|Information and t...|                        0|                        0|                        1|                        0| Artie Choke|     DS|             34|        [IST769, IST714]|Data Science|    [IST659, IST615, ...|     Masters|
|1231|               18|IST659|   M002|artiechoke|    A|         4.0|      20|  Fall 2022|         Fall|     2022|    2022-2023|             3|Data Administrati...|Definition, devel...|                        0|                        0|                        1|                        1| Artie Choke|     DS|             34|        [IST769, IST714]|Data Science|    [IST659, IST615, ...|     Masters|
|1231|               12|IST615|   M001|artiechoke|    A|         4.0|      24|  Fall 2022|         Fall|     2022|    2022-2023|             3|    Cloud Management|Cloud services cr...|                        0|                        0|                        1|                        1| Artie Choke|     DS|             34|        [IST769, IST714]|Data Science|    [IST659, IST615, ...|     Masters|
|1231|                6|IST687|   M002|artiechoke|    A|         4.0|      24|  Fall 2022|         Fall|     2022|    2022-2023|             3|Introduction to D...|Introduces inform...|                        1|                        0|                        0|                        1| Artie Choke|     DS|             34|        [IST769, IST714]|Data Science|    [IST659, IST615, ...|     Masters|
|1222|               18|IST615|   M001|peteterpan|    A|         4.0|      24|Spring 2022|       Spring|     2022|    2021-2022|             3|    Cloud Management|Cloud services cr...|                        0|                        0|                        1|                        1| Pete Terpan|     DS|             34|        [IST769, IST714]|Data Science|    [IST659, IST615, ...|     Masters|
+----+-----------------+------+-------+----------+-----+------------+--------+-----------+-------------+---------+-------------+--------------+--------------------+--------------------+-------------------------+-------------------------+-------------------------+-------------------------+------------+-------+---------------+------------------------+------------+------------------------+------------+
only showing top 5 rows

root
 |-- term: integer (nullable = true)
 |-- course_enrollment: integer (nullable = true)
 |-- course: string (nullable = true)
 |-- section: string (nullable = true)
 |-- student_id: string (nullable = true)
 |-- grade: string (nullable = true)
 |-- grade_points: double (nullable = true)
 |-- capacity: integer (nullable = true)
 |-- term_name: string (nullable = true)
 |-- term_semester: string (nullable = true)
 |-- term_year: integer (nullable = true)
 |-- academic_year: string (nullable = true)
 |-- course_credits: integer (nullable = true)
 |-- course_name: string (nullable = true)
 |-- course_description: string (nullable = true)
 |-- course_is_elective_for_IS: integer (nullable = true)
 |-- course_is_elective_for_DS: integer (nullable = true)
 |-- course_is_required_for_IS: integer (nullable = true)
 |-- course_is_required_for_DS: integer (nullable = true)
 |-- student_name: string (nullable = true)
 |-- program: string (nullable = true)
 |-- program_credits: integer (nullable = true)
 |-- program_elective_courses: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- program_name: string (nullable = true)
 |-- program_required_courses: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- program_type: string (nullable = true)

### Question 10

Load the data frame you created in question 8 into `elasticsearch`, under the index `enrollments`. This time, just Omit all array types to make the problem simpler (`elective_courses`, `key_assignments`, `course_prerequisites`, etc...)

In [21]:
df_enrollments_prep_no_arrays = df_enrollments_prep.drop("program_elective_courses")\
                                        .drop("program_required_courses")

In [22]:
#10 wide_enrollments to elastic search

# Write to Elasticsearch
df_enrollments_prep_no_arrays.write.mode("Overwrite").format("es").save("enrollments/_doc")

# Read back from Elasticsearch
df_enrollments_elastic = spark.read.format("es").load("enrollments/_doc")
df_enrollments_elastic.toPandas().head()

,academic_year,capacity,course,course_credits,course_description,course_enrollment,course_is_elective_for_DS,course_is_elective_for_IS,course_is_required_for_DS,course_is_required_for_IS,...,program_credits,program_name,program_type,section,student_id,student_name,term,term_name,term_semester,term_year
0,2022-2023,28,IST621,3,Information and technology management overview...,21,0,0,0,1,...,34,Data Science,Masters,M001,artiechoke,Artie Choke,1232,Spring 2023,Spring,2023
1,2022-2023,20,IST659,3,"Definition, development, and management of dat...",18,0,0,1,1,...,34,Data Science,Masters,M002,artiechoke,Artie Choke,1231,Fall 2022,Fall,2022
2,2022-2023,24,IST615,3,Cloud services creation and management. Practi...,12,0,0,1,1,...,34,Data Science,Masters,M001,artiechoke,Artie Choke,1231,Fall 2022,Fall,2022
3,2022-2023,24,IST687,3,Introduces information professionals to fundam...,6,0,1,1,0,...,34,Data Science,Masters,M002,artiechoke,Artie Choke,1231,Fall 2022,Fall,2022
4,2021-2022,24,IST615,3,Cloud services creation and management. Practi...,18,0,0,1,1,...,34,Data Science,Masters,M001,peteterpan,Pete Terpan,1222,Spring 2022,Spring,2022

In [23]:
# load wide_enrollments into cassandra

#df_enrollments_prep.write \
#    .format("org.apache.spark.sql.cassandra") \
#    .mode("Append") \
#    .option("table", "wide_enrollments") \
#    .option("keyspace", "ischooldb") \
#    .option("spark.cassandra.connection.host", cassandra_host) \
#    .save()

### Question 11

Write spark to clear the `neo4j` database of all nodes and relationships.

In [24]:
#11 reset neo4j database 

# Define the Cypher query to delete all nodes and relationships
cypher_query = "MATCH (n) DETACH DELETE n"

# Execute the Cypher query using the SparkSession
spark.read.format("org.neo4j.spark.DataSource") \
    .option("url", bolt_url) \
    .option("query", cypher_query) \
    .load()

DataFrame[]

### Question 12

Load the `courses` and `program` data into `neo4j` as nodes. Exclude the `requirements`, `electives` and `prerequisites` from the node attributes. Demonstrate the data in `neo4j` by querying back it using one or more Cypher queries. NOTE: the Neo4J `name` attribute is what will display on the node bubbles.

In [25]:
df_courses.show(5)
df_courses.printSchema()

df_programs.show(5)
df_programs.printSchema()

+------+------+-------+--------------------+--------------------+----------------+--------------------+-------------+--------------------+
|   _id|  code|credits|         description|elective_in_programs| key_assignments|                name|prerequisites|required_in_programs|
+------+------+-------+--------------------+--------------------+----------------+--------------------+-------------+--------------------+
|IST659|IST659|      3|Definition, devel...|                  []|       [project]|Data Administrati...|           []|            [IS, DS]|
|IST722|IST722|      3|Introduction to c...|                [IS]| [project, exam]|    Data Warehousing|     [IST659]|                  []|
|IST769|IST769|      3|Analyze relationa...|                [DS]| [project, exam]|Advanced Big Data...|     [IST659]|                  []|
|IST615|IST615|      3|Cloud services cr...|                  []|[project, paper]|    Cloud Management|           []|            [IS, DS]|
|IST714|IST714|      3|Advanced, lab-bas...|            [IS, DS]|       [project]|  Cloud Architecture|     [IST615]|                  []|
+------+------+-------+--------------------+--------------------+----------------+--------------------+-------------+--------------------+
only showing top 5 rows

root
 |-- _id: string (nullable = true)
 |-- code: string (nullable = true)
 |-- credits: integer (nullable = true)
 |-- description: string (nullable = true)
 |-- elective_in_programs: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- key_assignments: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- name: string (nullable = true)
 |-- prerequisites: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- required_in_programs: array (nullable = true)
 |    |-- element: string (containsNull = true)

+---+----+-------+--------------------+--------------------+--------------------+-----------+
|_id|code|credits|    elective_courses|                name|    required_courses|       type|
+---+----+-------+--------------------+--------------------+--------------------+-----------+
| IS|  IS|     36|[IST722, IST714, ...| Information Systems|[IST659, IST615, ...|    Masters|
| DS|  DS|     34|    [IST769, IST714]|        Data Science|[IST659, IST615, ...|    Masters|
|BDC| BDC|      9|                null|Data Engineering ...|[IST659, IST722, ...|Certificate|
|CCC| CCC|      9|                null|Cloud Computing C...|[IST621, IST615, ...|Certificate|
|MLC| MLC|      9|                null|Machine Learning ...|[IST687, IST707, ...|Certificate|
+---+----+-------+--------------------+--------------------+--------------------+-----------+

root
 |-- _id: string (nullable = true)
 |-- code: string (nullable = true)
 |-- credits: integer (nullable = true)
 |-- elective_courses: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- name: string (nullable = true)
 |-- required_courses: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- type: string (nullable = true)

In [26]:
# Register DataFrames as temporary views
df_courses.createOrReplaceTempView("courses")
df_programs.createOrReplaceTempView("programs")

# Execute SQL queries to select necessary columns and create new DataFrames
courses_sql = """
SELECT code, credits, description, name
FROM courses
"""

programs_sql = """
SELECT code, credits, name, type
FROM programs
"""

# Create new DataFrames with desired attributes
df_courses_with_req_attributes = spark.sql(courses_sql)
df_programs_with_req_attributes = spark.sql(programs_sql)

In [27]:
#12a load courses into Neo4j

df_courses_with_req_attributes.write.format("org.neo4j.spark.DataSource")\
  .mode("Overwrite")\
  .option("url", bolt_url) \
  .option("labels", "courses") \
  .option("node.keys","name") \
  .save()

In [28]:
# read back from Neo4j
df1 = spark.read.format("org.neo4j.spark.DataSource") \
  .option("url", bolt_url) \
  .option("labels", "courses") \
  .load()
df1.show(5)
df1.printSchema()

+----+---------+--------------------+--------------------+-------+------+
|<id>| <labels>|                name|         description|credits|  code|
+----+---------+--------------------+--------------------+-------+------+
|   0|[courses]|Data Administrati...|Definition, devel...|      3|IST659|
|   1|[courses]|    Data Warehousing|Introduction to c...|      3|IST722|
|   2|[courses]|Advanced Big Data...|Analyze relationa...|      3|IST769|
|   3|[courses]|    Cloud Management|Cloud services cr...|      3|IST615|
|   4|[courses]|  Cloud Architecture|Advanced, lab-bas...|      3|IST714|
+----+---------+--------------------+--------------------+-------+------+
only showing top 5 rows

root
 |-- <id>: long (nullable = false)
 |-- <labels>: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- name: string (nullable = true)
 |-- description: string (nullable = true)
 |-- credits: long (nullable = true)
 |-- code: string (nullable = true)

In [29]:
#12b load programs into neo4j

df_programs_with_req_attributes.write.format("org.neo4j.spark.DataSource")\
  .mode("Overwrite")\
  .option("url", bolt_url) \
  .option("labels", "programs") \
  .option("node.keys","name") \
  .save()

In [30]:
# read back from Neo4j
df2 = spark.read.format("org.neo4j.spark.DataSource") \
  .option("url", bolt_url) \
  .option("labels", "programs") \
  .load()
df2.show(5)
df2.printSchema()

+----+----------+-----------+--------------------+-------+----+
|<id>|  <labels>|       type|                name|credits|code|
+----+----------+-----------+--------------------+-------+----+
|   9|[programs]|    Masters| Information Systems|     36|  IS|
|  10|[programs]|    Masters|        Data Science|     34|  DS|
|  11|[programs]|Certificate|Data Engineering ...|      9| BDC|
|  12|[programs]|Certificate|Cloud Computing C...|      9| CCC|
|  13|[programs]|Certificate|Machine Learning ...|      9| MLC|
+----+----------+-----------+--------------------+-------+----+

root
 |-- <id>: long (nullable = false)
 |-- <labels>: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- type: string (nullable = true)
 |-- name: string (nullable = true)
 |-- credits: long (nullable = true)
 |-- code: string (nullable = true)

In [31]:
# MATCH (p:programs) RETURN p;
# MATCH (c:courses) RETURN c;

### Question 13

Load the `requirements` and `electives` data into `neo4j` as relationships to the nodes you created in Question 12. Use the `program` data to form the `required` and `elective` course relationships. Demonstrate the relationships in `neo4j` are present by querying back it using one or more Cypher queries.

In [32]:
#13a program course requirements

from pyspark.sql.functions import explode

# Explode the array containing required courses
required = df_programs.select("code", explode("required_courses").alias("required_course"))

# Load required courses into Neo4j
cql_required = '''
MATCH (c:courses), (p:programs)
WHERE c.code = event.required_course AND p.code = event.code
MERGE (p)-[:REQUIRES]->(c)
'''

required.write.format("org.neo4j.spark.DataSource") \
    .mode("Overwrite") \
    .option("url", bolt_url) \
    .option("query", cql_required) \
    .save()

In [33]:
# Query program course requirements from Neo4j
cql_requirements = '''
MATCH (p:programs)-[:REQUIRES]->(c:courses)
RETURN c.code AS course_code, c.name AS course_name, p.code AS program_code, p.name AS program_name
'''

df_requirements = spark.read.format("org.neo4j.spark.DataSource") \
    .option("url", bolt_url) \
    .option("query", cql_requirements) \
    .load()

df_requirements.show(5)
df_requirements.printSchema()

+-----------+--------------------+------------+-------------------+
|course_code|         course_name|program_code|       program_name|
+-----------+--------------------+------------+-------------------+
|     IST621|Information Manag...|          IS|Information Systems|
|     IST615|    Cloud Management|          IS|Information Systems|
|     IST659|Data Administrati...|          IS|Information Systems|
|     IST707|Applied Machine L...|          DS|       Data Science|
|     IST718|  Big Data Analytics|          DS|       Data Science|
+-----------+--------------------+------------+-------------------+
only showing top 5 rows

root
 |-- course_code: string (nullable = true)
 |-- course_name: string (nullable = true)
 |-- program_code: string (nullable = true)
 |-- program_name: string (nullable = true)

In [34]:
#13b program course electives

# Explode the array containing elective courses
elective = df_programs.select("code", explode("elective_courses").alias("elective_course"))

# Load elective courses into Neo4j
cql_elective = '''
MATCH (c:courses), (p:programs)
WHERE c.code = event.elective_course AND p.code = event.code
MERGE (p)-[:ELECTIVE]->(c)
'''

elective.write.format("org.neo4j.spark.DataSource") \
    .mode("Overwrite") \
    .option("url", bolt_url) \
    .option("query", cql_elective) \
    .save()

In [35]:
# Query program course electives from Neo4j
cql_electives = '''
MATCH (p:programs)-[:ELECTIVE]->(c:courses)
RETURN c.code AS course_code, c.name AS course_name, p.code AS program_code, p.name AS program_name
'''

df_electives = spark.read.format("org.neo4j.spark.DataSource") \
    .option("url", bolt_url) \
    .option("query", cql_electives) \
    .load()

df_electives.show(5)
df_electives.printSchema()

+-----------+--------------------+------------+-------------------+
|course_code|         course_name|program_code|       program_name|
+-----------+--------------------+------------+-------------------+
|     IST722|    Data Warehousing|          IS|Information Systems|
|     IST714|  Cloud Architecture|          IS|Information Systems|
|     IST687|Introduction to D...|          IS|Information Systems|
|     IST707|Applied Machine L...|          IS|Information Systems|
|     IST769|Advanced Big Data...|          DS|       Data Science|
+-----------+--------------------+------------+-------------------+
only showing top 5 rows

root
 |-- course_code: string (nullable = true)
 |-- course_name: string (nullable = true)
 |-- program_code: string (nullable = true)
 |-- program_name: string (nullable = true)

### Question 14

Load the `prerequisites` into `neo4j` as relationships to the `course` nodes you created in Question 12. Demonstrate the relationships in `neo4j` are present by querying back it using one or more Cypher queries.

In [36]:
#14 course prerequisites 

from pyspark.sql.functions import explode

# Explode the array containing prerequisites
prerequisites = df_courses.select("code", explode("prerequisites").alias("prerequisite_code"))

# Load prerequisites into Neo4j
cql_prerequisites = '''
MATCH (c1:courses), (c2:courses)
WHERE c1.code = event.code AND c2.code = event.prerequisite_code
MERGE (c1)-[:PREREQUISITE]->(c2)
'''

prerequisites.write.format("org.neo4j.spark.DataSource") \
    .mode("Overwrite") \
    .option("url", bolt_url) \
    .option("query", cql_prerequisites) \
    .save()

In [37]:
# Query course prerequisites from Neo4j
cql_course_prerequisites = '''
MATCH (c1:courses)-[:PREREQUISITE]->(c2:courses)
RETURN c1.code AS course_code, c1.name AS course_name, c2.code AS prerequisite_code, c2.name AS prerequisite_name
'''

df_course_prerequisites = spark.read.format("org.neo4j.spark.DataSource") \
    .option("url", bolt_url) \
    .option("query", cql_course_prerequisites) \
    .load()

df_course_prerequisites.show(5)
df_course_prerequisites.printSchema()

+-----------+--------------------+-----------------+--------------------+
|course_code|         course_name|prerequisite_code|   prerequisite_name|
+-----------+--------------------+-----------------+--------------------+
|     IST722|    Data Warehousing|           IST659|Data Administrati...|
|     IST769|Advanced Big Data...|           IST659|Data Administrati...|
|     IST714|  Cloud Architecture|           IST615|    Cloud Management|
|     IST707|Applied Machine L...|           IST687|Introduction to D...|
|     IST718|  Big Data Analytics|           IST687|Introduction to D...|
+-----------+--------------------+-----------------+--------------------+

root
 |-- course_code: string (nullable = true)
 |-- course_name: string (nullable = true)
 |-- prerequisite_code: string (nullable = true)
 |-- prerequisite_name: string (nullable = true)

### Question 15

Write a Cypher query to display courses which are required by both the `IS` and `DS` programs.

In [76]:
#15 Cypher query courses required in DS and IS

# Define the Cypher query
cql_courses_required_by_both_programs = '''
MATCH (is:programs {code: 'IS'})-[:REQUIRES]->(course:courses)
WITH COLLECT(DISTINCT course.code) AS is_required_courses
MATCH (ds:programs {code: 'DS'})-[:REQUIRES]->(course:courses)
WHERE course.code IN is_required_courses
RETURN course.code AS course_code, course.name AS course_name, course.credits as course_credits, course.description as course_description
'''

# Execute the Cypher query using Neo4j DataSource
df_courses_required_by_both_programs = spark.read.format("org.neo4j.spark.DataSource") \
    .option("url", bolt_url) \
    .option("query", cql_courses_required_by_both_programs) \
    .load()

# Show the result
df_courses_required_by_both_programs.show()
df_courses_required_by_both_programs.printSchema()

+-----------+--------------------+--------------+--------------------+
|course_code|         course_name|course_credits|  course_description|
+-----------+--------------------+--------------+--------------------+
|     IST615|    Cloud Management|             3|Cloud services cr...|
|     IST659|Data Administrati...|             3|Definition, devel...|
+-----------+--------------------+--------------+--------------------+

root
 |-- course_code: string (nullable = true)
 |-- course_name: string (nullable = true)
 |-- course_credits: long (nullable = true)
 |-- course_description: string (nullable = true)

### Question 16

Write a Cypher query to retrieve the `course code`, `course title`, and the count of programs the course is a requirement in. Write as a Cypher query but retrieve the  output as a Spark Dataframe.

In [79]:
#16 Cypher to spark table

# Define the Cypher query
cql_course_program_count = '''
MATCH (p:programs)-[:REQUIRES]->(c:courses)
WITH c.code AS course_code, c.name AS course_title, COUNT(DISTINCT p) AS program_count
RETURN course_code, course_title, program_count
'''

# Execute the Cypher query using Neo4j DataSource
df_course_program_count = spark.read.format("org.neo4j.spark.DataSource") \
    .option("url", bolt_url) \
    .option("query", cql_course_program_count) \
    .load()

# Show the result
df_course_program_count.show()

+-----------+--------------------+-------------+
|course_code|        course_title|program_count|
+-----------+--------------------+-------------+
|     IST621|Information Manag...|            2|
|     IST615|    Cloud Management|            3|
|     IST659|Data Administrati...|            3|
|     IST707|Applied Machine L...|            2|
|     IST718|  Big Data Analytics|            2|
|     IST687|Introduction to D...|            2|
|     IST769|Advanced Big Data...|            1|
|     IST722|    Data Warehousing|            1|
|     IST714|  Cloud Architecture|            1|
+-----------+--------------------+-------------+

### Questions 17,18,19 and 20

These are not spark questions as they use kibana.